<div class="position-fixed" style="bottom: 20px; right: 20px;">
    <a href="https://discord.gg/JanKxhma3q" style="background-color: rgb(201, 42, 70); color: rgb(30, 31, 33); font-weight: bold;font-size: 20px; padding: 14px 20px;" class="btn">Group Discussion</a>
</div>
