

 

<!-- 
  <div class="mt-auto p-2 bd-highlight">
    <div class="card bg-primary text-white">
      <div class="card-body fixed-right">
          <a href="https://discord.gg/ZTB2ZAFp" class="stretched-link"></a>
          Group Discussion
      </div>
  </div>
  </div> -->

  <!-- <a style="position:fixed;bottom:5px;right:5px;margin:0;padding:5px 3px;" href="#">GO BACK</a> -->


  <div class="position-fixed" style="bottom: 20px; right: 20px;">
    <a href="https://discord.gg/JanKxhma3q" style="background-color: rgb(201, 42, 70); color: rgb(30, 31, 33); font-weight: bold;font-size: 20px; padding: 14px 20px;" class="btn">Group Discussion</a>
</div>
