

 

<div class="d-flex align-items-end flex-column bd-highlight mb-3 fixed-bottom " style="height: 200px;">  
  <div class="mt-auto p-2 bd-highlight">
    <div class="card bg-primary text-white">
      <div class="card-body fixed-right">
          <a href="https://discord.gg/ZTB2ZAFp" class="stretched-link"></a>
          Group Discussion
      </div>
  </div>
  </div>
</div>