
    <div class="container mt-5">
        <h1 class="mb-4">Contribute</h1>
        <p>I am currently busy and a single person can never produce something very optimal</p>
        
        <form action="/articles/:articleTitle" method="POST">
            <div class="mb-3">
                <label for="topic" class="form-label">Topic:</label>
                <input type="text" class="form-control" id="topic" name="topic" required>
            </div>
            <div class="mb-3">
                <label for="details" class="form-label">Detailed Section:</label>
                <textarea class="form-control" id="details" name="details" rows="4" required></textarea>
            </div>
            <div class="mb-3">
                <label for="socialMedia" class="form-label">Social Media Handles:</label>
                <input type="text" class="form-control" id="identity" name="socialMedia" placeholder="https://twitter.com/yourhandle">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>



