
    <div style="background-color: rgb(30, 31, 33); color: #fff; padding: 7% 17%;" >
        <h1 style="color: rgb(201, 42, 70);" class="mb-4">Contribute</h1>
        <p>I created this forum because I got help from a lot of seniors, so if you think you can help others in their application process, I'd like you to contribute to the content on the platform. Credit for your work will be given at the top of article. Below is the form to submit your contribution. </p>
        <p>But it is not only for the content contribution, if you have any query you'd like to be answered on this platform, you can submit them below, we will try to answer them.</p>
        
        <form action="/articles/:articleTitle" method="POST">
            <div class="mb-3">
                <label for="topic" class="form-label">Topic:</label>
                <input type="text" class="form-control" id="topic" name="topic" required>
            </div>
            <div class="mb-3">
                <label for="details" class="form-label">Detailed Section:</label>
                <textarea class="form-control" id="details" name="details" rows="4" required></textarea>
            </div>
            <div class="mb-3">
                <label for="socialMedia" class="form-label">Social Media Handles:</label>
                <input type="text" class="form-control" id="identity" name="socialMedia" placeholder="https://twitter.com/yourhandle">
            </div>
            <div class="mb-3">
                <button type="submit" style="background-color: rgb(201, 42, 70); color: rgb(30, 31, 33); font-weight: bold;font-size: 20px;" class="btn">Submit</button>
            </div>
        </form>
    </div>

